<section class="w-75 mx-auto shadow rounded p-3 mb-3" *ngIf="cartData; else msg">
    <div class="d-flex align-items-center justify-content-between">
        <h2>Shop Cart</h2>
        <button (click)="deleteUserCart()" class="btn btn-outline-danger">Clear Cart</button>
    </div>
    <p class="text-main">Total : {{cartData.totalCartPrice | currency:'EGP'}}</p>
    <div class="row" *ngFor="let item of cartData.products">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11 d-flex align-items-center justify-content-between">
            <div>
                <h3 class="h6">{{item.product.category.name}}</h3>
            <p class="text-main small mb-0">Price : {{item.price | currency:'EGP'}}</p>
            <button (click)="removeItem(item.product._id)" class="btn p-0 m-0 text-main">
                   
                <i class="fas fa-trash-alt"></i>
                Remove
            </button>
            </div>
            <div>
                <button (click)="changeCount(item.count - 1,item.product._id ,btn1,btn2)" class="btn btn-sm border-success me-1" #btn1> - </button>
                <span>{{item.count}}</span>
                <button (click)="changeCount(item.count + 1,item.product._id,btn1,btn2)" class="btn btn-sm border-success ms-1" #btn2> + </button>
            </div>
        </div>
        <hr>
            
      
    </div>
    <button [routerLink]="['/payment' , cartData._id]" class="btn main-btn">Payment</button>
  
</section>

<ng-template #msg>
   <h2 class="text-center">
    Your Cart Is Empty....
   </h2>
</ng-template>
