:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.main-section{
    padding-top: 80px;
}

.toTop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border: unset;
    border-radius: 10px;
    background-color: #0aad0a;
    color: #FFF;
}